h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(102, 60, 5);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    background-color: #00ff00;
    padding: 100px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
.a:visited{
color: rgb(134, 134, 150)
}
.item:hover img{
    opacity: 0.33;
}
